.auth-container{
  width: 40%;
  margin: auto;
  margin-top: 150px;
  border: 1px solid rgba(0, 0, 0, 0.298039);
}
.auth-tab{
  width:60%;
  margin: 0 auto;
}

.auth-input{
  width: 100%;
}

.auth-btn{
  display: flex;
  justify-content: flex-end !important;
  margin: 20px 0;
}
