@media screen and (max-width: 960px) {
  .settings-container {
    width: 60% !important;
  }
}

@media screen and (max-width: 650px) {
  .settings-container {
    width: 70% !important;
  }
}

@media screen and (max-width: 550px) {
  .settings-container {
    width: 85% !important;
  }
}