.avatar:hover{
  cursor:pointer;
}
.addFile{
  visibility: hidden;
  position: absolute;
  top:0;
  left:0;
}

.avatar-dialog-content {
  width: 30% !important;
}

@media screen and (max-width: 760px) {
  .avatar-dialog-content {
   width: 100% !important;
  }
}

